:host {
  display: inline-flex;
  inline-size: var(--foundry-icon-size, 1em);
  block-size: var(--foundry-icon-size, 1em);
  color: inherit;
  flex: 0 0 auto;
  line-height: 0;
}

[part="inner"] {
  display: inline-flex;
  inline-size: 100%;
  block-size: 100%;
}

[part="inner"] svg {
  inline-size: 100%;
  block-size: 100%;
  display: block;
}
